---
interface Props {
  align?: "left" | "center" | "right";
}

const { align = "center" } = Astro.props;
---

<div
  class:list={[
    "text-skin-base -mt-6 mb-6 text-sm opacity-80",
    {
      "text-left": align === "left",
      "text-center": align === "center",
      "text-right": align === "right",
    },
  ]}
>
  <slot />
</div>
